/* =============================================================================
   GLOBAL STRUCTURE
   ========================================================================== */
html {
	height:100%;
	background:#f4f4f4;
	font: normal normal 10px/1.2em arial;
}
body {height:100%;}
.header {
	position:relative;
	z-index:3;
	padding: 15px 10px;
	background:#e7e7e7;
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(0,0,0,.1) 120%);
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(0,0,0,.1) 120%);
	background-image: -o-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(0,0,0,.1) 120%);
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(0,0,0,.1) 120%);
	background-image: linear-gradient(top, rgba(0,0,0,0) 50%, rgba(0,0,0,.1) 120%);
	border-bottom:1px solid #ccc;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.4);
}
.content {
	position:relative;
	height:100%;
}
.elements {
	position: absolute;
	left:0;
	top:0;
	bottom:0;
	width: 200px;
	height: 100%;
	padding: 15px 0;
	background: #e7e7e7;
	border-right:1px solid #ccc;
}
.editor {
	margin: 0 350px 0 200px;
	padding: 25px 30px 20px;
	position:relative;
	height:100%;
	display: none;
}
.view {
	position: absolute;
	right:0;
	top:0;
	bottom:0;
	width: 350px;
	height: 100%;
	background:#2b2b2b;
	box-shadow: inset 5px 0 10px 0 rgba(0,0,0,.2);
}

/* =============================================================================
   GLOBAL
   ========================================================================== */
h2 {
	font-size: 3em;
	font-weight: bolder;
	text-transform: uppercase;
	letter-spacing: -.05em;
	color:#333;
	margin-bottom:.5em;
}
h2 span {font-weight: lighter;}
.btn {
	padding: 10px 20px;
	display: inline-block;
	border-radius: 4px;
	font-size:1.6em;
	color: #333;
	border:1px solid #aaa;
	background: #e7e7e7;
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 20%, rgba(0,0,0,.1) 120%);
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 20%, rgba(0,0,0,.1) 120%);
	background-image: -o-linear-gradient(top, rgba(0,0,0,0) 20%, rgba(0,0,0,.1) 120%);
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0) 20%, rgba(0,0,0,.1) 120%);
	background-image: linear-gradient(top, rgba(0,0,0,0) 20%, rgba(0,0,0,.1) 120%);
	box-shadow: inset 0 1px 0 0 rgba(255,255,255,.9), inset 0 1px 0 0 rgba(0,0,0,.4), 0 1px 1px 0 rgba(0,0,0,.2);
}
.btn:hover, .btn:focus {
	color:#333;
	background-color: #ededed;
}
.elements .btn-new {
	margin:5px 10px;
	padding: 10px 20px;
	display: block;
	text-align:center;
	color:#fff;
	border-color:#2d4e15;
	background-color: #69b531;
	text-shadow: 0 1px 0 rgba(0,0,0,.4);
	box-shadow: inset 0 1px 0 0 rgba(255,255,255,.7), inset 0 1px 0 0 rgba(0,0,0,.4), 0 1px 1px 0 rgba(0,0,0,.2);
}
.elements .btn-new:hover, .elements .btn-new:focus {
	color:#fff;
	background-color: #72bd3b;
}
.editor .btn-save {
	clear:both;
	margin: 20px 0;
}

/* =============================================================================
   HEADER
   ========================================================================== */
.logo {
	color:#656960;
	font-size:24px;
	font-weight: lighter;
	letter-spacing:-0.04em;
}
.logo span {
	position:relative;
	top:2px;
}

/* =============================================================================
   ELEMENTS
   ========================================================================== */
.elements-item {
	margin-bottom:1px;
}
.elements-lnk {
	display: block;
	padding: 15px;
	font-size:1.4em;
	line-height: 1.2em;
	color:#777;
}
.elements-lnk:hover, .elements-lnk:focus {color:#333;}
.current {
	position:relative;
	right:-1px;
	padding-right: 14px;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	background: #f4f4f4 none;
}
.current .elements-lnk {
	color:#2b2b2b;
	font-weight: bolder;
}
.current .btn-new {
	color:#fff;
	font-weight: normal;
}

/* =============================================================================
   EDITOR
   ========================================================================== */
.editor .columns {
	float: left;
	width: 50%;
	min-height: 55px;
	margin-bottom: 30px;
	position: relative;
}
.editor .row {
	clear:both;
	position: relative;
}
.editor .columns label {
	display: block;
	height:auto;
	font-size:1.4em;
	padding-bottom:5px;
	color:#2b2b2b;
}
.editor .prefix, .editor .sufix {
	display: inline-block;
	background: #ddd;
	border: #aaa;
	float: left;
	padding: 8px 7px;
	width:13px;
	text-align:center;
	font-size:1.4em;
	border-radius: 4px 0 0 4px;
}
.editor .sufix {
	float: none;
	margin-left:-3px;
	border-radius: 0 4px 4px 0;
}
.editor textarea, .editor input[type="text"], .editor select {
	display:inline-block;
	background-color: white;
	color: #777;
	border: 1px solid #CCC;
	font-size:1.4em;
	padding: 5px 10px;
	width: 250px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* =============================================================================
   VIEW
   ========================================================================== */
.view h2 {
	padding: 10px;
	background:#111;
	font-size:2em;
	color:#fff;
	font-size:1.8em;
	line-height:1em;
	font-weight: normal;
	text-transform: uppercase;
}

.view-demo {
	position:relative;
	height:100px;
	margin: 20px;
	padding: 20px;
	font-size:14px;
	text-align:center;
	background:#fff;
	border-radius: 8px;
}
.view-demo span{
	display: inline-block;
	position:absolute;
	top:40%;
	left:20px;
	right:20px;
}

/* CODE MIRROR (CODE) */

.CodeMirror {
	line-height:1em;
	font-family:monospace;
}
.CodeMirror-scroll {
	overflow:auto;
	height: 415px;
	position:relative;
}
.CodeMirror-gutter {
	position:absolute;
	left:0;
	top:0;
	z-index:10;
	background-color:#333;
	border-right:1px solid #bbb;
	min-width:2em;
	height:100%;
}
.CodeMirror-gutter-text {
	color:#bbb;
	text-align:right;
	padding:.4em .2em .4em .4em;
}
.CodeMirror-lines {
	padding:.6em;
}
.CodeMirror pre {
	-moz-border-radius:0;
	-webkit-border-radius:0;
	-o-border-radius:0;
	border-radius:0;
	border-width:0;
	margin:0;
	padding:0;
	background:transparent;
	font-family:inherit;
	font-size:inherit;
	padding:0;
	margin:0;
	white-space:pre;
	word-wrap:normal;
	font-size: 1.4em;
	line-height:1.4em;
}
.CodeMirror textarea {
	font-family:inherit !important;
	font-size: 1.4em;
	line-height:1.2em;
}
.CodeMirror-cursor {
	z-index:10;
	position:absolute;
	visibility:hidden;
	border-left:1px solid black !important;
}
.CodeMirror-focused .CodeMirror-cursor {
	visibility:visible;
}
span.CodeMirror-selected {
	background:#ccc !important;
	color:HighlightText !important;
}
.CodeMirror-focused span.CodeMirror-selected {
	background:Highlight !important;
}
.CodeMirror-matchingbracket {
	color:#0f0 !important;
}
.CodeMirror-nonmatchingbracket {
	color:#f22 !important;
}
.cm-s-default span.cm-property, .cm-s-default span.cm-operator {
	color:#e7e7e7;
}
.cm-s-default {
	color:#e9e9e9;
}
.cm-s-default span.CodeMirror-selected {
	background:#CE524F !important;
}
.cm-s-default .CodeMirror-gutter {
	background:#333;
	border-right:1px solid #777;
}
.cm-s-default .CodeMirror-gutter-text {
	color:#bbb;
}
.cm-s-default .CodeMirror-cursor {
	border-left:1px solid white !important;
}
.cm-s-default span.cm-comment {
	color:#6900a1;
}
.cm-s-default span.cm-atom {
	color:#845dc4;
}
.cm-s-default span.cm-number, .cm-s-default span.cm-attribute {
	color:#ffd500;
}
.cm-s-default span.cm-keyword {
	color:#599eff;
}
.cm-s-default span.cm-string {
	color:#37f14a;
}
.cm-s-default span.cm-meta {
	color:#7678e2;
}
.cm-s-default span.cm-variable-2, .cm-s-default span.cm-tag {
	color:#99b2ff;
}
.cm-s-default span.cm-variable-3, .cm-s-default span.cm-def {
	color:white;
}
.cm-s-default span.cm-error {
	color:#9d1e15;
}
.cm-s-default span.cm-bracket {
	color:#8da6ce;
}
.cm-s-default span.cm-comment {
	color:#cca7e0;
}
.cm-s-default span.cm-builtin, .cm-s-default span.cm-special {
	color:#ff9e59;
}